# external requirements
click
Sphinx
coverage
awscli
flake8
pandas
matplotlib
seaborn
gridstatus
paho-mqtt
python-dotenv>=0.5.1
aiofile==3.9.0
attrs==25.4.0
backports-datetime-fromisoformat==2.0.3
caio==0.9.24
cffi==2.0.0
cryptography==46.0.3
environs==14.5.0
-e git+https://github.com/EVerest/everest-utils.git@4d6b213e74a57bc3b690b753e64decf2a487b6b7#egg=ev_dev_tools&subdirectory=ev-dev-tools
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
marshmallow==4.1.1
netifaces==0.11.0
numpy==2.2.6
paho-mqtt==2.1.0
pandas==2.3.3
psutil==1.2.1
pycparser==2.23
pydantic==1.10.24
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
six==1.17.0
stringcase==1.2.0
typing_extensions==4.15.0
tzdata==2025.2
